.trip_ols2{
	z-index:11;
	position:absolute;
	left:211px;
	top:134px;
	display:none;
}
.alarm_ols2{
	z-index:11;
	position:absolute;
	left:211px;
	top:140px;
	display:none;
}
.warning_ols2{
	z-index:11;
	position:absolute;
	left:211px;
	top:145.5px;
	display:none;
}
.healthy_ols2{
	z-index:10;
	position:absolute;
	left:211px;
	top:151.5px;
	z-index:11;
	display:none;
}
.led5_ols2{
	z-index:11;
	position:absolute;
	left:211px;
	top:157px;
	display:none;
}
.led6_ols2{
	z-index:11;
	position:absolute;
	left:211px;
	top:163px;
	display:none;
}
.led7_ols2{
	z-index:11;
	position:absolute;
	left:211px;
	top:168.5px;
	display:none;
}
.led8_ols2{
	z-index:11;
	position:absolute;
	left:211px;
	top:174px;
	display:none;
}

.trip_ols3{
	z-index:11;
	position:absolute;
	left:392px;
	top:134px;
	display:none;
}
.alarm_ols3{
	z-index:11;
	position:absolute;
	left:392px;
	top:140px;
	display:none;
}
.warning_ols3{
	z-index:11;
	position:absolute;
	left:392px;
	top:145.5px;
	display:none;
}
.healthy_ols3{
	z-index:11;
	position:absolute;
	left:392px;
	top:151.5px;
	z-index:11;
	display:none;
}
.led5_ols3{
	z-index:11;
	position:absolute;
	left:392px;
	top:157px;
	display:none;
}
.led6_ols3{
	z-index:11;
	position:absolute;
	left:392px;
	top:163px;
	display:none;
}
.led7_ols3{
	z-index:11;
	position:absolute;
	left:392px;
	top:168.5px;
	display:none;
}
.led8_ols3{
	z-index:11;
	position:absolute;
	left:392px;
	top:174px;
	display:none;
}

.trip_ols4{
	z-index:11;
	position:absolute;
	left:582px;
	top:134px;
	display:none;
}
.alarm_ols4{
	z-index:11;
	position:absolute;
	left:582px;
	top:140px;
	display:none;
}
.warning_ols4{
	z-index:11;
	position:absolute;
	left:582px;
	top:145.5px;
	display:none;
}
.healthy_ols4{
	z-index:10;
	position:absolute;
	left:582px;
	top:151.5px;
	z-index:11;
	display:none;
}
.led5_ols4{
	z-index:11;
	position:absolute;
	left:582px;
	top:157px;
	display:none;
}
.led6_ols4{
	z-index:11;
	position:absolute;
	left:582px;
	top:163px;
	display:none;
}
.led7_ols4{
	z-index:11;
	position:absolute;
	left:582px;
	top:168.5px;
	display:none;
}
.led8_ols4{
	z-index:11;
	position:absolute;
	left:582px;
	top:174px;
	display:none;
}

.trip_ols5{
	z-index:11;
	position:absolute;
	left:772px;
	top:134px;
	display:none;
}
.alarm_ols5{
	z-index:11;
	position:absolute;
	left:772px;
	top:140px;
	display:none;
}
.warning_ols5{
	z-index:11;
	position:absolute;
	left:772px;
	top:145.5px;
	display:none;
}
.healthy_ols5{
	z-index:10;
	position:absolute;
	left:772px;
	top:151.5px;
	z-index:11;
	display:none;
}
.led5_ols5{
	z-index:11;
	position:absolute;
	left:772px;
	top:157px;
	display:none;
}
.led6_ols5{
	z-index:11;
	position:absolute;
	left:772px;
	top:163px;
	display:none;
}
.led7_ols5{
	z-index:11;
	position:absolute;
	left:772px;
	top:168.5px;
	display:none;
}
.led8_ols5{
	z-index:11;
	position:absolute;
	left:772px;
	top:174px;
	display:none;
}