body{
	/* background-image: url('img/server.jpg') no-repeat;
	background-size: cover; */
}
.navbar{
	border: none;
	height: 50px;
}
.container{
	margin-top: 20px;
}
.menu{
	width: 100%;
	height: 100px;
}
.menu .menu-right{
	float: right;
	margin: 20px;
}

.modal-admin {
    /* new custom width */
    width: 75%;
}

.btn-trans{
	background-color: #404040;
	width: 100px;
	height: 130px;
	border-radius: 10px;
	opacity: 0.9;
	/*padding-right: 20px;
	padding-left: 20px;*/
	padding: 6px;
	float: left;
	margin: 5px;
	border: 1px solid #f7f7f7;
	font-size: 12px;
	text-align: center;
	color : #fff;
}

.btn-green{
	background-color: green;	
}
.btn-red{
	background-color: red;
}
.btn-yellow{
	background-color: yellow;
}
.btn-orange{
	background-color: orange;
}
.btn-default{
	background-color: green;
	color:#fff;
}
.btn-transparent{
	background-color: transparent;
	color:#fff;
}

.btn-white:hover{
	color:#fff;
}

.btn-trans:active{
	background-color: #2caaea;
}

.btn-trans:visited{
	background-color: #2caaea;
}

img.plus{
	width: 40%;	
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
/*    padding-top:55px;
*/   /* margin-top:auto;
    margin-bottom:auto;*/ 
}

img.trf{
	width: 50%;	
	display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.btn-trans a{
	text-decoration: none;
	color: #fff;
	text-align: center;
	vertical-align: middle;
	/*line-height: 150px*/
}

.p-menu{
	background-color:#2caaea;
	min-width: 100px;
	min-height: 100px;
	width: 300px;
	height: 250px; 
	margin-left: -50px;
	margin-top: -100px;
}

.p-menu img{
	margin-top: 100px;
	margin-left: 100px;
	border-radius: 100px;
}

.p-menu p{
	margin-top: 10px;
	text-align: center;
}

.login-panel{
	background-color: #fff;
	height: 300px;
	width: 300px;
	border-radius: 10px;
	padding: 20px;
	margin: auto;
	margin-top: 100px;
}

img.logo{
	margin-left: 85px;
	margin-bottom: 20px;
	margin-right: auto;
}

.btn-log{
	margin-top: 30px;
	width: 100%;
	/*height: 40px;
	border-radius: 5px;
	background-color: #2b7cff;*/
}
.cursor-pointer{
	cursor:pointer;
}