.widget-gauge{
	width:100px; 
	height:50px;
}
.widget-gauge-icon{
	margin-top:-40px;
	width:80px; 
	height:80px;
}
.widget-fulsc{
	margin-top:-150px;
	margin-left:-285px;
	width:130%; 
	height:430px;
}
.widget-fulsc-map{
	margin-top:-90px;
	margin-left:-300px;
	width:130%; 
	height:450px;
}